.Cardbox {
    width: 80%;
    overflow: hidden;
    margin: auto;
    cursor: default;
    margin-top: 5%;
    border: 1px solid #ddd;
    border-radius: 18px;
    transition: all .8s;
}

.Cardbox:hover {
    transition: all .8s;
    -webkit-box-shadow: 12px 17px 50px -15px rgba(0,0,0,0.27);
    -moz-box-shadow: 12px 17px 50px -15px rgba(0,0,0,0.27);
    box-shadow: 12px 17px 50px -15px rgba(0,0,0,0.27);
}

.Image {
    float: left;
    width: 50%;
    height: auto;
    background-color: #ebecf1;
}

.Image img {
    width: 100%;
    height: 100%;
}

.Description {
    width: 40%;
    overflow: hidden;
    float: left;
    margin-left: 30px;
}

.Description .Info {
    line-height: 1.8;
    color: #333;
}

.Description .Price {
    font-size: 20px;
    font-weight: 700;
    color: #00a51c;
    margin: 0;
    margin-top: 10px;
}

.Description .Title {
    margin: 0;
    font-size: 28px;
}

.Description .Cate {
    color: #acaeb2;
}

.Description a{
    color: #fff;
    font-weight: 500;
    background: rgb(0, 137, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    transition: all .8s;
}

.Description a:hover{
    color: #fff;
    background: rgb(21, 125, 214);
    transition: all .8s;
}

.Review-box {
    clear: both;
    width: 80%;
    overflow: hidden;
    padding-bottom: 100px;
    background: #fff5df;
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Review-box h2{
    margin-bottom: 10px;
}

.Review-box img{
    width: 80px;
    height: 80px;
    background: #b1b1b1;
    border-radius: 10px;
    float: left;
    margin-right: 16px;
}

.Review-box .User h3{
    padding-top: 10px;
    margin-bottom: 8px;
}

.Review-box .User p, h3{
    margin: 0;
}

.Review-box .Item{
    width: 100%;
    overflow: hidden;
    margin-bottom: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f3e7cc;
}